
form {
  max-width: 410px;
  margin: 50px auto;
  padding: 20px;
  background-color: #948979;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Titre du formulaire */
form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Style des labels */
form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

/* Style des champs (input, select, textarea) */
form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}



/* Bouton d’envoi */
form button {
  width: 100%;
  padding: 12px;
  background-color: #31363F; // plus sombre
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.form-rdv {
  background-color: #DCCCB4; 
  padding: 15px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  width: 400px;
  margin-left: 40%;
  
}


    main {
    background-color: #222831;
    padding: 20px;
  }