form button {
  width: 100%;
  padding: 12px;
  background-color: #31363F; // plus sombre
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
