.logo {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -60px;
  left: -60px;


  /* ================Responsive Mobile============ */ 

  @media (max-width: 420px) {
    width: 60px;
    height: 60px;
    top: -20px;
    left: 10px;
  }
}


/* ==================== iPadMini ========== */

